.acc-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    width: 100%;
    margin: 20px;
    text-align: center;
}
.accordion {
    width: 600px;
    margin: 20px 0px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-title {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .description {
    padding: 10px;
    background-color: #fff;
    display: none; 
  }
  
  .show {
    display: block; 
  }
  
  .tgl-btn{
    border: none;
  }