
.crsl-con {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.crsl {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
}

.slide {
  position: relative;
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0px;
}

.next-btn {
  right: 0px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
