.mn-container{
    width: 100%;
    height: 80vh;
    background-color: yellow;
    overflow: hidden;
}
.muv-bg-con{
    width: 100%;
    height: 100%;
    position: relative;
}
.muv-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30%;
    /* background-image: url(https://assets-in.bmscdn.com/discovery-catalog/events/et00333139-qvtfbchzcb-landscape.jpg); */
    /* background-position: center; */
    /* background-position: top; */
    background-size: cover;
}
.muv-img img{
    width: 100%;
}

.t-tile{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.muv-slider{
    display: flex;
    width: 300px;
    height: 70%;
    position: relative;
    right: -75%;
    top: 10%;
}



.crsl-con {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  
  .crsl {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    position: relative;
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 0px;
  }
  
  .next-btn {
    right: 0px;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

.info-content{
    width: 50%;
    height: 100%;
    padding: 20px;
    padding-left: 50px;
    /* background-color: black; */
    position: absolute;
    top: 0;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-image: linear-gradient(90deg, black 10%, #ffffff00);
}
.info-content .movie-logo{
    width: 150px;
    margin-left: 20px;
}
.info-content .row{
    width: 400px;
    margin: 20px 0px;
    height: 30px;
    color: white;
    /* margin: 0; */
}
.info-content .col{
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.moviename {
    font-size: 3rem;
    color: #fff;
    margin: 20px 0px;
    margin-left: 20px;

  }

.trailer-btn{
    margin-top: 20px;
    font-weight: 600;
}
.bt8 a{
    position: relative;
    padding: 10px 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: 0.5s;
}
.bt8 a:hover{
    background: transparent;
    border: 2px solid #B80000;
    padding-top: 15px;
    color: #B80000;

}

.bt8 a::after{
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: top 0.5s, left 0.5s;
}
.bt8 a:hover::after{
    top: 5px;
    left: 5px;
    box-sizing: content-box;
    border: 2px solid #B80000;

}

.vid-popup{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-con{
    background: none;
    /* background-color: transparent; */
    /* padding: 20px; */

}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #acacac;

}